Código xsd/Menu.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name = "catalog">
<xs:complexType>
<xs:sequence>
<xs:element name = "parsererror">
<xs:complexType>
<xs:sequence>
<xs:element type = " xs: string" name = "h3"/>
<xs:element  name = "div">
<xs:complexType >
<xs:simpleContent>
<xs:extension base = "xs:string">
<xs:attribute type="xs:string" name="style" use="optional"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
</xs:element>
 </xs:sequence>
<xs:attribute type="xs:string" name="style" use="optional"/>
</xs:complexType>
</xs:element>
<xs:element name = "book">
<xs:complexType>
<xs:sequence>
<xs:element name = "author">
<xs:complexType>
<xs:sequence>
<xs:element type = " xs: string" name = "ss"/>
 </xs:sequence>
<xs:attribute type="xs:byte" name="auth"/>
</xs:complexType>
</xs:element>
<xs:element type = " xs: string" name = "hello"/>
 </xs:sequence>
<xs:attribute type="xs:byte" name="id"/>
</xs:complexType>
</xs:element>
 </xs:sequence>
<xs:attribute type = "xs:Date" name = "name"/>
</xs:complexType>
</xs:element>
</xs:schema>