sprint4lenguajes/leo.xml

<!--Esquema XML story10-->
<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="equipos">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="equipo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="equipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre"/>
        <xs:element ref="posicion"/>
        <xs:element maxOccurs="unbounded" ref="jugador"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="posicion" type="xs:integer"/>
  <xs:element name="jugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre"/>
        <xs:element ref="edad"/>
        <xs:element ref="sueldo"/>
      </xs:sequence>
      <xs:attribute name="category" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="edad" type="xs:integer"/>
  <xs:element name="sueldo" type="xs:string"/>
  <xs:element name="nombre" type="xs:string"/>
</xs:schema>
